
.page-container.overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow-y: auto; /* ✅ Enable vertical scrolling */
  }
  
  /* Allow scrolling inside mobile preview */
  .overlay-active .mobile-preview {
    transform: scale(1.05);
    /* max-height: 100vh; 
    overflow-y: auto; */
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Get Connected Button */
  /* .connectbtn {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  } */
  
  .connectbtn:hover {
    background-color: darkgreen;
  }
  

  /* Share Button */
.share-button {
  position: absolute;
  top: 10px;
  left: 3px;
  color: white;
  margin-top: -53px;
  background-color: #bfbdbd66;
  padding: 4px 6px 2px 4px;
  border-radius: 50%;
  border: 2px;
  cursor: pointer;
  }
  
 
  
  /* Notification */
  .notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s ease-in-out;
    z-index: 1000;
  }
  
  /* Notification Fade Effect */
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }  
